<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add dictionary</title>
</head>

<body>

<form th:method="POST" th:action="@{/dictionary/addDictionary}" th:object="${dictionary}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="regex">Enter regex: </label>
    <input type="text" th:field="*{regex}" id="regex"/>
    <br/>
    <input type="submit" value="Add"/>
</form>

</body>

</html>